[Unit]
Description=SeaweedFS Filer
After=network-online.target seaweedfs-master.service
Wants=network-online.target

[Service]
Type=simple
User=seaweedfs
Group=seaweedfs
LimitNOFILE=1000000
WorkingDirectory=/data/filer
ExecStart=/usr/local/bin/weed filer \
  -master=192.168.47.21:9333,192.168.47.23:9333,192.168.47.25:9333 \
  -ip=<SUNUCU_IP_ADRESI> \
  -port=8888 \
  -s3 \
  -s3.port=8333 \
  -s3.config=/etc/seaweedfs/s3.json \
  -disableDirListing=true \
  -metricsPort=9326
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

