[Unit]
Description=SeaweedFS Master
After=network.target

[Service]
Type=simple
User=seaweedfs
Group=seaweedfs
LimitNOFILE=1000000
ExecStart=/usr/local/bin/weed master \
  -ip=<SUNUCU_IP_ADRESI> \
  -port=9333 \
  -mdir=/data/master \
  -peers=192.168.47.21:9333,192.168.47.23:9333,192.168.47.25:9333 \
  -defaultReplication=001 \
  -metricsPort=9324
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
